NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_2xfg9YAbJPOs@ep-delicate-meadow-au89ppxm-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=f178e000-584d-4acb-bc4d-3231df1b2264
JWT_REFRESH_SECRET=dd9fcb9d-d254-4ed1-aa05-2d74799886ed
BSC_RPC_URL=https://bsc-dataseed.binance.org
LDX_CONTRACT_ADDRESS=0x567A4F63f6838005e104C053fc24a3510b0432E1
CORS_ORIGINS=http://localhost:3000
